<div class="bg-blue-extralight text-center rounded-xl overflow-hidden relative group {=$class}">
	<img class="block" src="/img/car.jpg" alt="" width="270" height="236">
	<div class="px-4 pt-4 relative bg-blue-extralight transition-transform group-hover:-translate-y-12">
		<div class="font-heading font-extrabold text-3xl">{=$name}</div>
		<div class="font-light mt-2">{=$job}</div>
		<div class="flex justify-between mt-3 py-3 border-t border-t-blue-light">
			<div class="">Exprience: <span class="text-blue font-medium">{=$exp} years</span></div>
			<div class="">Rating: <span class="text-red font-medium">{=$rating}</span></div>
		</div>
		<div class="text-center border-t border-t-blue-light pt-3 absolute w-[calc(100%-2rem)]">
			hidden content
		</div>
	</div>
</div>