body {
  margin: 0;
  background-color: rgba(255, 167, 135, 0.695);
}

img {
  max-width: 100%;
  min-width: 0;
  height: auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.catalog-box {
  --gap: 10px;
  display: grid; /* grid or margin... it is nothing... */
  gap: var(--gap);
}

.catalog-box img {
  display: block;
}

@media screen and (min-width: 541px) {
  .catalog-box {
    --bigW: 600;
    --bigH: 1068;
    --ratio: calc(var(--bigW) / var(--bigH));
    --smallW: calc(
      (100% - var(--gap) * (1 + 3 * var(--ratio))) / (4 * var(--ratio) + 1)
    );
    grid-template-columns: 1fr var(--smallW);
  }

  .catalog-item__full {
    grid-row: span 4;
  }
}

@media screen and (min-width: 841px) {
  .catalog-box {
    --smallW: calc(
      (100% - var(--gap) * (2 + var(--ratio))) / (2 * var(--ratio) + 2)
    );
    grid-template-columns: var(--smallW) 1fr var(--smallW);
    grid-auto-flow: dense;
  }

  .catalog-item__full {
    grid-column: 2;
  }
}
